<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      {% if title %}
      {{ title }} · {{ site.title }} {% else %}{{ site.title or site.name }}
      {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ description or site.description }}" />
    <meta name="referrer" content="no-referrer-when-downgrade" />

    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
    <link type="image/png" sizes="16x16" rel="icon" href="{% image 'favicon-16x16.png' %}">
    <link type="image/png" sizes="32x32" rel="icon" href="{% image 'favicon-32x32.png' %}">
    <link type="image/png" sizes="96x96" rel="icon" href="{% image 'favicon-96x96.png' %}">
    <link type="image/png" sizes="120x120" rel="icon" href="{% image 'favicon-120x120.png' %}">
    <link type="image/png" sizes="192x192" rel="icon" href="{% image 'android-icon-192x192.png' %}">
    <meta
      property="og:title"
      content="{{ title or site.title or site.name }}"
    />
    <meta property="og:type" content="{{ type or site.type }}" />
    <meta property="og:url" content="{{ url or site.url }}" />
    <meta property="og:image" content="{{ image or site.image }}" />
    <meta property="og:site_name" content="{{ name or site.name }}" />
    <meta
      property="og:description"
      content="{{ description or site.description }}"
    />

    <link rel="stylesheet" href="{% webpack 'main.css' %}" />
  </head>
  <body>
    <div class="page-wrapper">
      {% include header %}

      <main class="content {{ contentClass }}">
        {{ content | safe }}
      </main>

      {% include footer %}
    </div>
    <script async defer src="{% webpack 'main.js' %}"></script>
  </body>
</html>
